.navbar {
  background-color: #21222A;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}
.nav-items {
  list-style: none;
  display: flex;
}

.nav-items>li {
  padding: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #21222A;
  color: white;
  text-align: center;
  font-size: 16px;
}

.main-header {
  margin-left: 1rem;
}

.main-items {
  margin: 20px;
  max-width: 400px;
}

.main-items > li {
  padding-block: 10px;
}

.main-items > li::marker {
  font-size: 1.4rem;
  color:#61DAFB;
}